In [5]:
import pandas as pd

In [6]:
import numpy as np

In [7]:
import seaborn as sns

In [8]:
import matplotlib.pyplot as plt

In [9]:

df = pd.read_csv('cardio_train.csv',sep=';')
demo = df.copy()

In [10]:
df.head()

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,4,17474,1,156,56.0,100,60,1,1,0,0,0,0

In [11]:
df.tail()

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
69995,99993,19240,2,168,76.0,120,80,1,1,1,0,1,0
69996,99995,22601,1,158,126.0,140,90,2,2,0,0,1,1
69997,99996,19066,2,183,105.0,180,90,3,1,0,1,0,1
69998,99998,22431,1,163,72.0,135,80,1,2,0,0,0,1
69999,99999,20540,1,170,72.0,120,80,2,1,0,0,1,0

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70000 entries, 0 to 69999
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           70000 non-null  int64
 1   age          70000 non-null  int64
 2   gender       70000 non-null  int64
 3   height       70000 non-null  int64
 4   weight       70000 non-null  float64
 5   ap_hi        70000 non-null  int64
 6   ap_lo        70000 non-null  int64
 7   cholesterol  70000 non-null  int64
 8   gluc         70000 non-null  int64
 9   smoke        70000 non-null  int64
 10  alco         70000 non-null  int64
 11  active       70000 non-null  int64
 12  cardio       70000 non-null  int64
dtypes: float64(1), int64(12)
memory usage: 6.9 MB

In [13]:
df.shape[0]

70000

In [14]:
df.duplicated().any()

False

In [15]:
df.isnull().sum()

id             0
age            0
gender         0
height         0
weight         0
ap_hi          0
ap_lo          0
cholesterol    0
gluc           0
smoke          0
alco           0
active         0
cardio         0
dtype: int64

In [16]:
df2 = df.copy()
df2.drop(columns=['id'], inplace =True)

df2['age'] = (df2['age'] / 365)


df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70000 entries, 0 to 69999
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   age          70000 non-null  float64
 1   gender       70000 non-null  int64
 2   height       70000 non-null  int64
 3   weight       70000 non-null  float64
 4   ap_hi        70000 non-null  int64
 5   ap_lo        70000 non-null  int64
 6   cholesterol  70000 non-null  int64
 7   gluc         70000 non-null  int64
 8   smoke        70000 non-null  int64
 9   alco         70000 non-null  int64
 10  active       70000 non-null  int64
 11  cardio       70000 non-null  int64
dtypes: float64(2), int64(10)
memory usage: 6.4 MB

In [17]:
 # df2 = df2.drop("id", axis=1)

In [18]:
df.duplicated().sum()

0

In [19]:
df2.duplicated().sum()

24

In [20]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70000 entries, 0 to 69999
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   age          70000 non-null  float64
 1   gender       70000 non-null  int64
 2   height       70000 non-null  int64
 3   weight       70000 non-null  float64
 4   ap_hi        70000 non-null  int64
 5   ap_lo        70000 non-null  int64
 6   cholesterol  70000 non-null  int64
 7   gluc         70000 non-null  int64
 8   smoke        70000 non-null  int64
 9   alco         70000 non-null  int64
 10  active       70000 non-null  int64
 11  cardio       70000 non-null  int64
dtypes: float64(2), int64(10)
memory usage: 6.4 MB

In [21]:
df2.drop_duplicates(inplace=True)

In [22]:
df2.duplicated().sum()

0

In [23]:
count = df2.duplicated().sum()
count

0

In [24]:
df2.head()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,50.391781,2,168,62.0,110,80,1,1,0,0,1,0
1,55.419178,1,156,85.0,140,90,3,1,0,0,1,1
2,51.663014,1,165,64.0,130,70,3,1,0,0,0,1
3,48.282192,2,169,82.0,150,100,1,1,0,0,1,1
4,47.873973,1,156,56.0,100,60,1,1,0,0,0,0

In [25]:
df2.describe()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
count,69976.000000,69976.000000,69976.000000,69976.000000,69976.000000,69976.000000,69976.000000,69976.000000,69976.000000,69976.000000,69976.000000,69976.000000
mean,53.339589,1.349648,164.359152,74.208519,128.820453,96.636261,1.366997,1.226535,0.088159,0.053790,0.803718,0.499771
std,6.759930,0.476862,8.211218,14.397211,154.037729,188.504581,0.680333,0.572353,0.283528,0.225604,0.397187,0.500004
min,29.583562,1.000000,55.000000,10.000000,-150.000000,-70.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,48.394521,1.000000,159.000000,65.000000,120.000000,80.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000
50%,53.980822,1.000000,165.000000,72.000000,120.000000,80.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000
75%,58.430137,2.000000,170.000000,82.000000,140.000000,90.000000,2.000000,1.000000,0.000000,0.000000,1.000000,1.000000
max,64.967123,2.000000,250.000000,200.000000,16020.000000,11000.000000,3.000000,3.000000,1.000000,1.000000,1.000000,1.000000

In [26]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 69976 entries, 0 to 69999
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   age          69976 non-null  float64
 1   gender       69976 non-null  int64
 2   height       69976 non-null  int64
 3   weight       69976 non-null  float64
 4   ap_hi        69976 non-null  int64
 5   ap_lo        69976 non-null  int64
 6   cholesterol  69976 non-null  int64
 7   gluc         69976 non-null  int64
 8   smoke        69976 non-null  int64
 9   alco         69976 non-null  int64
 10  active       69976 non-null  int64
 11  cardio       69976 non-null  int64
dtypes: float64(2), int64(10)
memory usage: 6.9 MB

In [90]:
print(f"total values of cholesterol is : {df2["cholesterol"].value_counts()}")
print(f"total values of glucoze is : {df2["gluc"].value_counts()}")
print(f"smoke count is : {df2["smoke"].value_counts()}")
print(f"alcohol count is : {df2["alco"].value_counts()}")
print(f"active type is : {df2["active"].value_counts()}")
print(f"total cardio count is : {df2["cardio"].value_counts()}")

total values of cholesterol is : cholesterol
1    52361
2     9549
3     8066
Name: count, dtype: int64
total values of glucoze is : gluc
1    59455
3     5331
2     5190
Name: count, dtype: int64
smoke count is : smoke
0    63807
1     6169
Name: count, dtype: int64
alcohol count is : alco
0    66212
1     3764
Name: count, dtype: int64
active type is : active
1    56241
0    13735
Name: count, dtype: int64
total cardio count is : cardio
0    35004
1    34972
Name: count, dtype: int64

In [27]:
df2["BMI"] = (df2["weight"] / ((df2["height"] / 100) ** 2))
df2['BMI']

0        21.967120
1        34.927679
2        23.507805
3        28.710479
4        23.011177
           ...
69995    26.927438
69996    50.472681
69997    31.353579
69998    27.099251
69999    24.913495
Name: BMI, Length: 69976, dtype: float64

In [28]:
swap_mask = df2['ap_hi'] < df2['ap_lo']
df2.loc[swap_mask, ['ap_hi', 'ap_lo']] = df2.loc[swap_mask, ['ap_lo', 'ap_hi']].values

df2['ap_hi'] = df2['ap_hi'].clip(lower=70, upper=240)
df2['ap_lo'] = df2['ap_lo'].clip(lower=40, upper=140)

In [29]:
df2 = df2[
    (df2['ap_lo'] >= 40) & (df2['ap_lo'] <= 140) &
    (df2['ap_hi'] >= 70) & (df2['ap_hi'] <= 240)
]

In [30]:
df2

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,BMI
0,50.391781,2,168,62.0,110,80,1,1,0,0,1,0,21.967120
1,55.419178,1,156,85.0,140,90,3,1,0,0,1,1,34.927679
2,51.663014,1,165,64.0,130,70,3,1,0,0,0,1,23.507805
3,48.282192,2,169,82.0,150,100,1,1,0,0,1,1,28.710479
4,47.873973,1,156,56.0,100,60,1,1,0,0,0,0,23.011177
...,...,...,...,...,...,...,...,...,...,...,...,...,...
69995,52.712329,2,168,76.0,120,80,1,1,1,0,1,0,26.927438
69996,61.920548,1,158,126.0,140,90,2,2,0,0,1,1,50.472681
69997,52.235616,2,183,105.0,180,90,3,1,0,1,0,1,31.353579
69998,61.454795,1,163,72.0,135,80,1,2,0,0,0,1,27.099251
69999,56.273973,1,170,72.0,120,80,2,1,0,0,1,0,24.913495

In [72]:
print(df2.columns.tolist())

['age', 'gender', 'height', 'weight', 'ap_hi', 'ap_lo', 'cholesterol', 'gluc', 'smoke', 'alco', 'active', 'cardio', 'BMI']

In [74]:
for col in ['BMI', 'ap_hi', 'ap_hi', 'BMI', 'age']:
    Q1 = df2[col].quantile(0.25)
    Q3 = df2[col].quantile(0.75)
    IQR = Q3 - Q1
    lower = Q1 - 1.5 * IQR
    upper = Q3 + 1.5 * IQR

    mask = (df2[col] < lower) | (df2[col] > upper)
    outliers = df2[mask]
    if not outliers.empty:
        df2[col] = np.where(df2[col] < lower, lower, df2[col])
        df2[col] = np.where(df2[col] > upper, upper, df2[col])

In [82]:
# df2.reset_index(drop=True, inplace=True)

In [84]:
# import pandas as pd
# import matplotlib.pyplot as plt
# import seaborn as sns

# # Assuming your data is loaded in df2
# # Check column names first
# print(df2.columns.tolist())

# # Remove columns from cols_to_check that don't exist in df2
# cols_to_check = ['age', 'gender', 'height', 'weight', 'ap_hi', 'ap_lo', 
#                  'cholesterol', 'gluc', 'smoke', 'alco', 'active', 'cardio']

# # Add 'bmi' if it exists
# if 'bmi' in df2.columns:
#     cols_to_check.append('bmi')

# # ------------------ OUTLIER DETECTION & VISUALIZATION ------------------
# def detect_outliers_iqr(df2, cols):
#     outlier_index = set()
#     for col in cols:
#         Q1 = df2[col].quantile(0.25)
#         Q3 = df2[col].quantile(0.75)
#         IQR = Q3 - Q1
#         lower = Q1 - 1.5 * IQR
#         upper = Q3 + 1.5 * IQR
#         outlier_index.update(df2[(df2[col] < lower) | (df2[col] > upper)].index)
        
#         # Boxplot
#         plt.figure(figsize=(8, 4))
#         sns.boxplot(x=df2[col])
#         plt.title(f'Boxplot of {col} with IQR Outliers')
#         plt.show()
#     return list(outlier_index)

# outlier_indices = detect_outliers_iqr(df2, cols_to_check)
# print(f"Total outlier rows detected: {len(outlier_indices)}")

# # ------------------ FILTER OUT OUTLIERS ------------------
# df_filtered = df2.drop(index=outlier_indices)
# print(f"Shape after removing outliers: {df_filtered.shape}")

In [86]:
# cols_to_check = ['height', 'weight', 'ap_hi', 'ap_lo', 'age']

# data_before = df2.copy()

# # IQR Outlier Removal
# for col in cols_to_check:
#     Q1 = df2[col].quantile(0.25)
#     Q3 = df2[col].quantile(0.75)
#     IQR = Q3 - Q1

#     lower_bound = Q1 - 1.5 * IQR
#     upper_bound = Q3 + 1.5 * IQR
    
#     df2 = df2[(df2[col] >= lower_bound) & (df2[col] <= upper_bound)]

# # After-cleaning copy
# data_after = df2.copy()

# # PLOTTING FUNCTION
# def plot_boxplots(df, title):
#     fig, axes = plt.subplots(2, 3, figsize=(18, 10))
#     fig.suptitle(title, fontsize=18)

#     for ax, col in zip(axes.flatten(), cols_to_check):
#         sns.boxplot(y=df[col], ax=ax)
#         ax.set_title(col)

#     plt.tight_layout(rect=[0, 0, 1, 0.96])
#     plt.show()

# # SHOW PLOTS
# plot_boxplots(data_before, "Before Outlier Removal (IQR)")
# plot_boxplots(data_after, "After Outlier Removal (IQR)")

In [88]:
print("Number of columns:", df2.shape[0])  ### 70000 - 69976  ==

Number of columns: 69976

In [80]:
 df2.to_csv('Preprocessed_cardio_dataset.csv')